# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sbr
*.idb
*.obj
*.pdb
*.ncb
DuiLib.suo
*.pch
*.bsc
FlashDemo/FlashDemo.vcproj.wengmq-PC.wengmq.user
*.user
*.dep
*.map
.vs/
bin/
lib/
QQDemo/QQDemo.aps
*.aps
Build/
